<taurusgui_config>
  <GUI_NAME>SardanaGUI</GUI_NAME>
  <ORGANIZATION>TAURUS</ORGANIZATION>
  <CUSTOM_LOGO>3.png</CUSTOM_LOGO>
  <MACROSERVER_NAME>MacroServer/sardana1/1</MACROSERVER_NAME>
  <DOOR_NAME>Door/sardana1/1</DOOR_NAME>
  <INSTRUMENTS_FROM_POOL>True</INSTRUMENTS_FROM_POOL>
  <MONITOR></MONITOR>
</taurusgui_config>
