#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/home/tango-cs/Downloads/logos/taurus.png
Name[en_US]=TaurusPlot
Exec=/usr/local/bin/taurusplot
Name=TaurusPlot
Icon=/home/tango-cs/Pictures/logos/taurus.png
