#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/home/tango-cs/Downloads/logos/taurus.png
Name[en_US]=TaurusCurve
Exec=/usr/local/bin/tauruscurve
Name=TaurusCurve
Icon=/home/tango-cs/Downloads/logos/taurus.png
