[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/home/tango-cs/Pictures/logos/taurus.png
Exec=docker start tangobox-sim 
Name[en_US]=Sim
Name=TaurusGui
Icon=/home/tango-cs/Pictures/3.png
