[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/home/tango-cs/Pictures/logos/taurus.png
Exec=docker stop tangobox-web 
Name[en_US]=Web
Name=TaurusGui
Icon=/home/tango-cs/Pictures/3.png
