#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
# Icon[en_US]=/home/tango-cs/Downloads/logos/utilities-system-monitor.svg
Name[en_US]=AtkMoni
Exec=/usr/local/bin/atkmoni
Name=AtkMoni
Icon=/home/tango-cs/Pictures/ATK Moni.png
