[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name[en_US]=Bensikin
Exec=bash -l -c "bensikin expert"
Name=Bensikin
Icon=/home/tango-cs/Pictures/1.png
