[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
# Icon[en_US]=/home/tango-cs/Downloads/logos/utilities-system-monitor.svg
Name[en_US]=Elinac
Exec=bash  /usr/local/bin/elinac.sh
Name=Elinac
Icon=/home/tango-cs/Pictures/logos/taurus.png
