[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name[en_US]=Hdb Configurator
Exec=bash -l -c '/home/tango-cs/bin/hdbpp-configurator -configure'
Name=HDB Configurator
Icon=/home/tango-cs/Pictures/HdB_Configurator.png
