[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name[en_US]=JLinac
Exec=bash -l -c "jlinac"
Name=JLinac
Icon=/home/tango-cs/Pictures/logos/jlinac.png
