[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name[en_US]=Mambo
Exec=bash -l -c "mambo expert"
Name=Mambo
Icon=/home/tango-cs/Pictures/logos/mambo.png
