[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/home/tango-cs/Downloads/logos/utilities-system-monitor.svg
Name[en_US]=Bensikin
Exec=bash -l -c "/usr/local/bin/linux/bensikin expert"
Name=AtkMoni
Icon=/usr/share/icons/Adwaita/256x256/emblems/emblem-mail.png
