[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/home/tango-cs/Downloads/logos/utilities-system-monitor.svg
Name[en_US]=mTango REST API
Exec=firefox --new-window http://tangobox-web:8080/tango/rest/rc4
Name=AtkMoni
Icon=/usr/share/icons/ubuntu-mobile/apps/240/webbrowser-app.png
