[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
# Icon[en_US]=/home/tango-cs/Downloads/logos/document-properties.svg
Name[en_US]=SardanaGUI
Exec=bash -l -c "SardanaGUI"
Name=SardanaGUI
Icon=/home/tango-cs/Pictures/3.png
