[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
# Icon[en_US]=/home/tango-cs/Downloads/logos/utilities-system-monitor.svg
Name[en_US]=Tango REST API
Exec=firefox --new-window http://tangobox-web:8080/tango/rest/rc4/hosts/tangobox-vm/10000
Name=mTango REST API
Icon=/usr/share/icons/hicolor/scalable/apps/software-properties.svg
