[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/home/tango-cs/Pictures/logos/taurus.png
Exec=bash -c "~/.local/bin/taurusgui example01"
Name[en_US]=TaurusGuiDemo
Name=TaurusGuiDemo
Icon=/home/tango-cs/Pictures/logos/taurus.png
