[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
# Icon[en_US]=/home/tango-cs/Downloads/logos/utilities-system-monitor.svg
Name[en_US]=Waltz (TangoWebapp)
Exec=firefox --new-window http://tangobox-web:8080/TangoWebapp
Name=TangoWebapp
Icon=/usr/share/icons/hicolor/scalable/apps/software-properties.svg
