<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="true"
         version="3.1">

    <!-- Tango device instance to start -->
    <context-param>
        <param-name>tango.rest.server.instance</param-name>
        <param-value>rest</param-value>
    </context-param>
    <context-param>
        <param-name>resteasy.logger.type</param-name>
        <param-value>SLF4J</param-value>
    </context-param>
    <context-param>
        <param-name>resteasy.providers</param-name>
        <param-value>
            org.tango.web.server.interceptors.CommandInputMessageBodyReader,
            org.tango.web.server.exception.mapper.DevFailedMapper,
            org.tango.web.server.exception.mapper.TangoProxyExceptionMapper,
            org.tango.web.server.exception.mapper.NoSuchAttribute,
            org.tango.web.server.exception.mapper.NoSuchCommand,
            org.tango.web.server.exception.mapper.NotFoundExceptionMapper,
            org.tango.web.server.resolvers.JacksonConfiguration,
            org.jboss.resteasy.plugins.providers.jackson.ResteasyJacksonProvider,
            org.tango.web.server.filters.PartitionProvider,
            org.tango.web.server.filters.TangoRestFilterProvider
        </param-value>
    </context-param>

    <listener>
        <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
    </listener>
    <listener>
        <listener-class>org.tango.web.server.Launcher</listener-class>
    </listener>

    <servlet>
        <servlet-name>RestTangoService</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>org.tango.rest.TangoRestApi</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>Console</servlet-name>
        <servlet-class>org.tango.web.server.groovy.JsConsole</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RestTangoService</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Console</servlet-name>
        <url-pattern>/console</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>CORS preflight</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>OPTIONS</http-method>
        </web-resource-collection>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Tango RESTful gateway</web-resource-name>
            <url-pattern>/rest/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>HEAD</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>mtango-rest</role-name>
            <role-name>desy-user</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Tango REST groovy consolw</web-resource-name>
            <url-pattern>/console</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>mtango-groovy</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>TangoREST</realm-name>
    </login-config>
    <security-role>
        <description>compatibility with DESY kerberos</description>
        <role-name>desy-user</role-name>
    </security-role>
    <security-role>
        <description>mtango rest api user</description>
        <role-name>mtango-rest</role-name>
    </security-role>
    <security-role>
        <description>mtango groovy user</description>
        <role-name>mtango-groovy</role-name>
    </security-role>
</web-app>

