[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/home/tango-cs/Pictures/logos/taurus.png
Exec=gnome-terminal -e 'docker exec -it tangobox-com bash'
Name[en_US]=Com
Name=TaurusGui
Icon=/home/tango-cs/Pictures/3.png
