[Unit]
Description=Starter device server
After=tango-accesscontrol.service
Requires=tango-db.service
Requires=tango-accesscontrol.service

[Service]
Restart=always
RestartSec=10
#Environment=MYSQL_UNIX_PORT=/var/run/mysqld/mysqld.sock
Environment=LD_LIBRARY_PATH=/usr/local/lib
Environment=PYTHONPATH=${PYTHONPATH}:/home/tango-cs/.local/lib/python2.7/site-packages
Environment=TANGO_HOST=tangobox:10000
ExecStart=/usr/local/bin/Starter tangobox

