[Unit]
Description=TangoAccessControl device server
Requires=tango-db.service
Requires=mysql.service
After=tango-db.service

[Service]
Restart=always
RestartSec=10
User=tango-cs
Environment=MYSQL_UNIX_PORT=/var/run/mysqld/mysqld.sock
Environment=MYSQL_USER=tango
Environment=MYSQL_PASSWORD=tango
Environment=SUPER_TANGO=true
Environment=TANGO_HOST=tangobox:10000
ExecStart=/usr/local/bin/TangoAccessControl 1

